h1 {
	color: #8f6190;
	font-size: 60px;
	font-style:oblique;
	font-family:Impact;
}

#aboutme {
	color: #191919;
	font-size: 18px;
	font-style: bold;
	font-family:"Franklin Gothic Medium";
	text-align: center;
	border-style:double;
	padding: 5px 5px 5px 5px;
}
body {
	background-image: url("grey.jpg");
	background-size:cover;
}

h2 {
	font-size: 30px;
	font-style:bold;
	color:#d61f5d;
	font-family:Lucida;
}

li {
	font-style:bold;
	color:#191919;
	font-family: Impact;
}

a{
	color:#000000;
}

h3 {
	font-size:30px;
	font-style:normal;
	color:#d61f5d;
	font-family: Lucida
}

